<span id="head"></span>
<link rel="stylesheet" href="{$smarty.const.CSS_URL}style.css">
<script src="{$smarty.const.JS_URL}jquery-1.8.2.min.js"></script>

{if isset($other.bannerImg[0].img_url)}
<div style="margin: 0 auto; margin: 0 0 35px"><img width="100%" src="/{$other.bannerImg[0].img_url}" height="150"></div>
{/if}

<div class="main">
    <div class="w120">
        <div class="le abo_le">
            <ul>
            </ul>
        </div>
        <div class="ri news_detail">
            <div class="news_detail_top">
                <h5>{$Detail.title}</h5>
                <span>{$Detail.createtime}</span>&nbsp;&nbsp;&nbsp;<span>
			</span></div>
            <div class="cl"></div>
            <div class="news_detail_conient">
                {$Detail.content}
            </div>
            <!-- 上下页 -->
            <div class="cl"></div>
        </div>
        <div class="cl"></div>
    </div>
</div>

<span id="bottom"></span>

{literal}
<script>
    $(function () {
        $('#head').load('/index.php/Home/Common/head');
        $('#bottom').load('/index.php/Home/Common/bottom');
    });
</script>
{/literal}