<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$smarty.const.SITE_NAME}</title>
    <meta name="keywords" content="{$smarty.const.SITE_KEYWORDS}">
    <meta name="description" content="{$smarty.const.SITE_DESCRIPTION}">

    <link rel="stylesheet" href="{$smarty.const.CSS_URL}style.css">
    <script src="{$smarty.const.JS_URL}jquery-1.8.2.min.js"></script>
    <script src="{$smarty.const.JS_URL}script.js"></script>
    <script src="{$smarty.const.JS_URL}share.js"></script>

    <!-- 图片滚动 -->
    <script type="text/javascript" src="{$smarty.const.JS_URL}jquery.SuperSlide.2.1.1.js"></script>

    <link rel="stylesheet" href="{$smarty.const.CSS_URL}share_style0_16.css">



</head>
<body>
<div class="header clearfix">
    <a href="http://www.cqbpadp.com/index.php" class="logo"><img src="{$smarty.const.IMG_URL}log.png" alt=""></a>
    <div class="menu">
        <a href="/" class="cur-menu">首页</a>
        {foreach $navList as $k=>$v}
        <a href="{$v.link}">{$v.category_name}</a>
       {/foreach}
    </div>
</div>
<div id="index"></div>
<div class="footer">
    <div class="footer-inner clearfix">
        <div class="footer-left"><img src="{$smarty.const.IMG_URL}log.png" alt="" class="footer_log"></div>
        <div class="footer-mid">
            <div class="footer-menu">
                <a href="/">首页</a>
                {foreach $navList as $k=>$v}
                <a href="{$v.link}">{$v.category_name}</a>
                {/foreach}
            </div>
            <p>Copyright 2016 All Rights Reserved. &nbsp; 中国名优企业品牌发展提升计划 &nbsp; &nbsp;版权所有<br></p>
        </div>

    </div>
</div>

{literal}
<script>
    $(function () {

        var homeSite = sessionStorage.getItem('homeSite');
        var homeIndex = sessionStorage.getItem('homeIndex');

        if (homeSite) {
            $('#index').load(homeSite);//默认加载首页
        } else {
            $('#index').load('/index.php/Home/index/main');//默认加载首页
        }
        $('.nav a').eq(homeIndex).addClass('nav-on').siblings().removeClass();//加载保存的样式

        //导航
        $('.nav a').click(function () {
            $('#index').html("");
            $(this).addClass('nav-on').siblings().removeClass();
            var index = $(this).index();
            if (index == 1) {
                $url = '/index.php/Home/Car/index/catid/3/catname/车贷'; //车贷
            } else if (index == 2) {
                $url = '/index.php/Home/Car/index/catid/4/catname/房贷'; //房贷
            } else if (index == 3) {
                $url = '/index.php/Home/Car/index/catid/5/catname/信用贷';//信用贷
            } else if (index == 4) {
                $url = '/index.php/Home/Car/index/catid/6/catname/保单贷';//保单贷
            } else if (index == 5) {
                $url = '/index.php/Home/Case/index/catid/9';//成功案例
            } else if (index == 6) {
                $url = '/index.php/Home/About/index/catid/11';//关于我们
            } else {
                $url = '/index.php/Home/index/main';
            }
            $('#index').load($url);
            sessionStorage.setItem('homeSite', $url);
            sessionStorage.setItem('homeIndex', index);
        })

        //子页面
        $(document).on('click', '#myscrollbox li,.detailInfo', function () {
            var id = $(this).attr('detailId');
            var url = '/index.php/Home/Car/detail/id/' + id;
            $('#index').load(url);
            sessionStorage.setItem('homeSite', url);
        });

        //攻略-更多
        $(document).on('click', '.manual-more', function () {
            var catid = $(this).attr('catid');
            var catname = $(this).attr('catname');
            var url = '/index.php/Home/manual/index/catid/' + catid + '/catname/' + catname;
            $('#index').load(url);
            sessionStorage.setItem('homeSite', url);
        });

        //攻略-详情
        $(document).on('click', '.manual-li', function () {
            var manualid = $(this).attr('manualid');
            var url = '/index.php/Home/manual/detail/id/' + manualid;
            $('#index').load(url);
            sessionStorage.setItem('homeSite', url);
        });


        //打开咨询窗口
        $(document).on('click', '.ask', function () {
            window.open("http://www16.53kf.com/webCompany.php?arg=10161753&amp;style=1&amp;language=cn&amp;charset=GBK&amp;kflist=off&amp;kf=&amp;zdkf_type=1&amp;referer=http%3A%2F%2Fwww.scmidai.com%2F&amp;keyword=&amp;tfrom=1&amp;tpl=crystal_blue&amp;uid=9469d95cc13f1e69b1a27b8527c440bf&amp;timeStamp=1502931683656&amp;ucust_id=");
        });

        //点击首页成功案例
        $(document).on('click', '.ys', function () {
            $url = '/index.php/Home/Case/index/catid/9';//成功案例
            $('#index').load($url);
            sessionStorage.setItem('homeSite', $url);
            sessionStorage.setItem('homeIndex', index);
        });


    });
</script>
{/literal}
</body>
</html>