<div class="banner">
    <div class="banner-inner" style="height: 396px;">
        <ul>
            <li style="opacity: 0.986194; width: 1583px; z-index: -1;"><img
                    src="{$smarty.const.IMG_URL}2016072110142154.jpg">
            </li>
            <li style="width: 1583px; opacity: 0; z-index: -1;"><img src="{$smarty.const.IMG_URL}2016072110140540.jpg">
            </li>
            <li style="width: 1583px; opacity: 0.0138062; z-index: 1;"><img
                    src="{$smarty.const.IMG_URL}2016072110134517.jpg">
            </li>
        </ul>
    </div>
    <div class="banner-point"><span class="cur-point"></span><span class=""></span><span class=""></span></div>
</div>
<div class="main">
    <div class="pro-info clearfix">
        <div class="pro-video">
            反对撒反对撒
        </div>
        <div class="pro-text">
            <div class="news-list-top">
                <span>工程简介</span>
            </div>
            <p style="text-indent: 2em;">
                中国优选品牌促进发展工程是为了深入贯彻党中央、国务院和国家有关部委关于深化经济体制改革，加强中国民族品牌建设的若干文件精神，响应中国广大企业创建中国优质品牌的强烈要求，由社会各级权威媒体组织发起，并与中央电视台联合创建了《发现•品牌》栏目，整合现有政策、权威媒体、网络资源为中国优质品牌提供品牌提升和传播的一体化窗口。</p>
            <p style="text-indent: 2em;">
                中国优选品牌促进发展工程立足中国经济，面向世界，是宣传中国品牌、提升中国形象、推进中国经济与世界一体化、塑造中国企业形象的重要阵地和主要媒体。中国优选品牌促进发展工程在社会各界人士及单位的关心与支持下，拥有了越来越大的社会影响力，在推进中国经济可持续发展中发挥着应有的重要作用。</p>
            <p><br></p></div>
    </div>
    <div class="pro-list">
        <ul>
            <li>
                <a class="pro-list-video">
                    <img src="{$smarty.const.IMG_URL}2016072110262045.jpg" alt="">
                    <div class="video-btm-text">
                        <p class="video-p1">品牌建档</p>
                        <p>China Quality Brand</p>
                    </div>
                </a>
                <div class="pro-list-text">通过各地采编记者实地走访并在权威平台建档，通过视频、图文的形式全方位展示企业、品牌。</div>
            </li>
            <li>
                <a class="pro-list-video">
                    <img src="{$smarty.const.IMG_URL}2016072110255065.jpg" alt="">
                    <div class="video-btm-text">
                        <p class="video-p1">媒体公示</p>
                        <p>China Quality Brand</p>
                    </div>
                </a>
                <div class="pro-list-text">在CCTV证券资讯频道《发现·品牌》栏目进行展播，并通过网络媒体、网络电视等进行多维度展示。</div>
            </li>
            <li>
                <a class="pro-list-video">
                    <img src="{$smarty.const.IMG_URL}2016072110245572.jpg" alt="">
                    <div class="video-btm-text">
                        <p class="video-p1">线下活动</p>
                        <p>China Quality Brand</p>
                    </div>
                </a>
                <div class="pro-list-text">在全国各地举行大型活动，对入围中国优选品牌的企业进行现场授牌，并给予企业线下活动支持。</div>
            </li>

        </ul>
    </div>
    <div class="pro-nav"><a><img src="{$smarty.const.IMG_URL}nav01.jpg" alt=""></a></div>
    <div class="pro-btm clearfix">
        <div class="pro-left">
            <div class="clearfix">
                <div class="news-banner">
                    <div class="news-banner-inner">
                        <ul>
                            <li style="opacity: 0.0138062; z-index: 1;">
                                <a href="http://www.cqbpadp.com/news_detail.php?id=23"><img
                                        src="{$smarty.const.IMG_URL}2016091314080341.jpg" alt=""></a>
                                <p>央视正式启动“国家品牌计划”</p>
                            </li>

                            <li style="opacity: 0.986194; z-index: -1;">
                                <a href="http://www.cqbpadp.com/news_detail.php?id=2"><img
                                        src="{$smarty.const.IMG_URL}2016080718432741.jpg" alt=""></a>
                                <p>“中国优选品牌促进发展工程”在京启动</p>
                            </li>

                        </ul>
                    </div>
                    <div class="news-banner-point"><span class=""></span><span class="cur-news-point"></span></div>
                </div>
                <div class="news-list">
                    <div class="news-list-top">
                        <a href="http://www.cqbpadp.com/news.php">更多&gt;&gt;</a>
                        <span>新闻动态</span>
                    </div>
                    <ul>
                        <li><a href="http://www.cqbpadp.com/news_detail.php?id=23">央视正式启动“国家品牌计划”</a></li>
                        <li><a href="http://www.cqbpadp.com/news_detail.php?id=2">“中国优选品牌促进发展工程”在京启动</a></li>
                    </ul>
                </div>
            </div>
            <div class="my-partner">
                <div class="news-list-top">
                    <span>我的合作伙伴</span>
                </div>
                <ul>
                    <li><img src="{$smarty.const.IMG_URL}2016080715521576.jpg"></li>
                    <li><img src="{$smarty.const.IMG_URL}2016080715541276.jpg"></li>
                    <li><img src="{$smarty.const.IMG_URL}2016080715065659.jpg"></li>
                    <li><img src="{$smarty.const.IMG_URL}2016080715304475.jpg"></li>
                    <li><img src="{$smarty.const.IMG_URL}2016080715480830.jpg"></li>
                    <li><img src="{$smarty.const.IMG_URL}2016080714335369.jpg"></li>
                    <li><img src="{$smarty.const.IMG_URL}2016080715315269.jpg"></li>
                    <li><img src="{$smarty.const.IMG_URL}2016080715123261.jpg"></li>
                </ul>
            </div>
        </div>
        <div class="pro-right">
            <h5 class="pro-right-title">品牌专家</h5>
            <ul>
                <li class="clearfix" style="background: rgb(227, 226, 226);">
                    <a class="per-head"><img src="{$smarty.const.IMG_URL}2016072210103066.jpg" alt=""></a>
                    <div class="per-info">
                        <a class="per-name">陈富国</a>
                        <p>最佳中国品牌价值排行榜的设计者</p>
                        <p>北京师范大学心理学博士学位</p>
                        <p>获得中欧国际商学院EMBA学位</p></div>
                </li>
                <li class="clearfix">
                    <a class="per-head"><img src="{$smarty.const.IMG_URL}2016080714115926.jpg" alt=""></a>
                    <div class="per-info">
                        <a class="per-name">曹越</a>
                        <p>山东大学品牌经济研究中心副主任</p>
                        <p>《BCSOK：品牌建设体系》</p>
                        <p>致力于品牌型组织的研究与推广</p></div>
                </li>
                <li class="clearfix" style="background: rgb(227, 226, 226);">
                    <a class="per-head"><img src="{$smarty.const.IMG_URL}2016080714192949.jpg" alt=""></a>
                    <div class="per-info">
                        <a class="per-name">洪海江</a>
                        <p>《颠覆式融合：全网品牌营销革命》</p>
                        <p>《基于新媒体互动式广告的相关探索》</p>
                        <p>南京师范大学现代广告品牌研究中心主任</p></div>
                </li>
                <li class="clearfix">
                    <a class="per-head"><img src="{$smarty.const.IMG_URL}2016080714141277.jpg" alt=""></a>
                    <div class="per-info">
                        <a class="per-name">孙丰国</a>
                        <p>湘潭大学文学与新闻学院广告学系副教授</p>
                        <p>《品牌研究》研究生课程</p>
                        <p>《广告促动经济发展》，《广告研究》</p></div>
                </li>
                <li class="clearfix" style="background: rgb(227, 226, 226);">
                    <a class="per-head"><img src="{$smarty.const.IMG_URL}2016080714163456.jpg" alt=""></a>
                    <div class="per-info">
                        <a class="per-name">许屹松</a>
                        <p>北京大学CBO（首席品牌官）</p>
                        <p>中国品牌领袖联盟（CBLC）副秘书长</p>
                        <p>BAC国际品牌认定委员会中国区副秘书长</p></div>
                </li>
            </ul>
        </div>
    </div>
</div>