<!--图片上传-->
<link rel="stylesheet" href="{$smarty.const.STATIC_URL}upImage/zyupload/skins/zyupload-1.0.0.min.css " type="text/css">
<script type="text/javascript" src="{$smarty.const.STATIC_URL}upImage/zyupload/zyupload.basic-1.0.0.min.js"></script>

<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <form method="post" enctype="multipart/form-data" id="formData">
                <table class="table table-bordered">
                    <tbody>
                    <tr class="covimg">
                        <th class="detail-title">封面图</th>
                        <td>
                            <span id="imgArr" style="display: none; ">
                            {foreach $info.imgArr as $k => $v}
                                <img src="/{$v}" width="118" class="editImg" height="118"
                                     style="display: block; float: left; margin-right: 8px;margin-top: 8px">
                            {/foreach}
                            </span>
                            <div id="zyupload" class="zyupload"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="detail-title">所属分类</th>
                        <td>
                            <div>
                                <input type="hidden" name="id" class="form-control" value="{$info.id}">
                                <select class="form-control" name="type" errorMsg="请选择分类">
                                    <option value="">—— 请选择分类 ——</option>
                                    {foreach C('QUERY_TYPE') as $kk=>$vv}
                                    <option value="{$kk}" {if isset($info.type) && $kk== $info.type}selected="selected" {/if}>{$vv}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr class="work-person">
                        <th class="detail-title">工号</th>
                        <td>
                            <div>
                                <input type="text" name="number" class="form-control" value="{$info.number}"
                                       errorMsg="工号不能为空"
                                       placeholder="请填写工号">
                            </div>
                        </td>
                    </tr>
                    <tr class="work-person">
                        <th class="detail-title">所属区域</th>
                        <td>
                            <div>
                                <input type="text" name="area" class="form-control" value="{$info.area}"
                                       errorMsg="区域不能为空"
                                       placeholder="请填写区域">
                            </div>
                        </td>
                    </tr>
                    <tr class="work-person">
                        <th class="detail-title">职务</th>
                        <td>
                            <div>
                                <input type="text" name="job" class="form-control" value="{$info.job}"
                                       errorMsg="职务不能为空"
                                       placeholder="请填写职务">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="detail-title" style="width: 100px !important;">名称</th>
                        <td>
                            <div>
                                <input type="text" name="name" class="form-control" value="{$info.name}"
                                       errorMsg="名称不能为空"
                                       placeholder="请填写名称">
                            </div>
                        </td>
                    </tr>
                    <tr class="bunInfo">
                        <th class="detail-title">公司信息</th>
                        <td>
                           <!-- <textarea class="form-control" name="discript" rows="3"
                                      placeholder="请填写描述" errorMsg="描述不能为空">{$info.discript}</textarea>-->
                            <div>
                                <textarea id="TextArea2" name="discript" cols="20" rows="2" class="ckeditor">{$info.discript}</textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <button type="reset" class="btn bg-orange btn-lg " status="0">重置
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" id="submit" class="btn btn-success btn-lg subform">提交</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {

        init();//初始化

        var discript = $.parseHTML(sessionStorage.getItem('editorcontent2'));//把html转换成实体

       // editor3.setData(advantage);//给富文本区域赋值

        //数据提交
        $('#submit').unbind('click').click(function () {

            //检查图片是否保存
            if ($('#preview').find('.file_success:hidden').length != 0) {
                layer.msg('您有图片没保存', {
                    icon: 2,
                    time: 2000
                });
                return false;
            }

            //数据验证
            if(!validata()){
                return false;
            }

            var formData = new FormData($("#formData")[0]);

            var discript =  CKEDITOR.instances.TextArea2.getData();

            formData.append('discript', discript);

            $.ajax({
                url: '../UserInfo/add',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returnJSON) {
                    if (returnJSON.status) {
                       layer.msg(returnJSON.msg, {
                            icon: 1,
                            time: 2000
                        }, function () {
                            sessionStorage.clear();
                            localStorage.setItem('address', '../UserInfo/showlist');//保存当前地址,避免刷新跳转
                            $('#content').load('../UserInfo/showlist');
                        });
                    } else {
                        layer.msg(returnJSON.msg, {
                            icon: 2,
                            time: 2000
                        });
                    }
                }
            });
        });
    });

    // 图片上传—>初始化插件
    $("#zyupload").zyUpload({
        width: "100%",                 // 宽度
        height: "100%",                 // 宽度
        itemWidth: "140px",                 // 文件项的宽度
        itemHeight: "115px",                 // 文件项的高度
        url: "../article/coverImg",   // 上传文件的路径
        fileType: ["jpg", "png", "js", "exe"],// 上传文件的类型
        fileSize: 51200000,                // 上传文件的大小
        multiple: true,                    // 是否可以多个文件上传
        dragDrop: false,                   // 是否可以拖动上传文件
        tailor: false,                   // 是否可以裁剪图片
        del: true,                    // 是否可以删除文件
        finishDel: false,  				  // 是否在上传文件完成后删除预览
        /* 外部获得的回调接口 */
        onSelect: function (selectFiles, allFiles) {    // 选择文件的回调方法  selectFile:当前选中的文件  allFiles:还没上传的全部文件
            console.info("当前选择了以下文件：");
            console.info(selectFiles);
        },
        onDelete: function (file, files) {              // 删除一个文件的回调方法 file:当前删除的文件  files:删除之后的文件
            console.info("当前删除了此文件：");
            console.info(file.name);
        },
        onSuccess: function (file, response) {          // 文件上传成功的回调方法
            console.info("此文件上传成功：");
            console.info(file.name);
            console.info("此文件上传到服务器地址：");
            console.info(response);
            //$("#uploadInf").append("<p>上传成功，文件地址是：" + response + "</p>");
        },
        onFailure: function (file, response) {          // 文件上传失败的回调方法
            console.info("此文件上传失败：");
            console.info(file.name);
        },
        onComplete: function (response) {           	  // 上传完成的回调方法
            console.info("文件上传完成");
            console.info(response);
        }
    });

    //修改图片
    if ($('#imgArr').html().length > 0) {
        $('#preview').prepend($('#imgArr').html());
    }
    $('.editImg').on('click', function () {
        var id = $('input[name="id"]').val();
        layer.open({
            type: 2,
            title: '编辑封面图片',
            shadeClose: true,
            shade: 0.8,
            area: ['500px', '90%'],
            content: '../UserInfo/editImg/id/' + id,
            cancel: function () {
                location.reload();
            }
        });
    });


    //初始化需要运行的东西
    function init() {
        //表单显示控制
        var id = $('input[name="id"]').val();
        var optionVal = $('select[name="type"]').val();
        //加入是修改，则根据修改类型显示相应表单，否则是新增
        if(id){
            formItem(optionVal);
        }else{
            $('.work-person,.covimg,.bunInfo').hide();
        }
        //点击类型显示相应的表单
        $('select[name="type"]').change(function(){
            var optionVal = parseInt($(this).children('option:selected').val());
            formItem(optionVal);
        })

        //初始化
        var editor2 = CKEDITOR.replace('TextArea2', {
            filebrowserImageUploadUrl: '../manager/ck_upload'
        });

        var inputVal = JSON.parse(sessionStorage.getItem("inputVal"));
        //如果还没保存过输入，就定义一个空对象来保存
        if (inputVal == null) {
            var inputVal = {};
        }

        //回填输入
        $.each(inputVal, function (index, item) {
            $(document).find('input[name="' + index + '"],textarea[name="' + index + '"]').val(item);
        });

        editor2.setData(sessionStorage.getItem("editorcontent2"));//回填富文本区域


        //保存输入
        $('form input,textarea').keyup(function () {
            var name = $(this).attr('name');
            var val = $(this).val();
            inputVal[name] = val;
            sessionStorage.setItem('inputVal', JSON.stringify(inputVal));
        });
        //保存富文本的值
        editor2.on('change', function (event) {
            sessionStorage.setItem('editorcontent2', this.getData());
        });
    }

    //表单显示控制
    function formItem(optionVal){
        if(optionVal==0){
            $('.work-person,.covimg').show();
            $('.bunInfo').hide();
        }
        if(optionVal==1){
            $('.bunInfo').show();
            $('.work-person,.covimg').hide();
        }
    }


    //数据验证
    function validata() {
        var formVal = $('form input,textarea,select');

        //类型
        if ($(formVal[2]).val() == '') {
            layer.msg($(formVal[2]).attr("errorMsg"), {
                icon: 2,
                time: 2000
            });
            return false;
        }

        //工号
        if($(formVal[3]).parent().parent().parent('.work-person').css('display')!='none' && $(formVal[3]).val() == ''){
            layer.msg($(formVal[3]).attr("errorMsg"), {
                icon: 2,
                time: 2000
            });
            return false;
        }

        //区域
        if($(formVal[4]).parent().parent().parent('.work-person').css('display')!='none' && $(formVal[4]).val() == ''){
            layer.msg($(formVal[4]).attr("errorMsg"), {
                icon: 2,
                time: 2000
            });
            return false;
        }

        //职务
        if($(formVal[5]).parent().parent().parent('.work-person').css('display')!='none' && $(formVal[5]).val() == ''){
            layer.msg($(formVal[5]).attr("errorMsg"), {
                icon: 2,
                time: 2000
            });
            return false;
        }

        //名称
        if($(formVal[6]).parent().parent().parent('.work-person').css('display')!='none' && $(formVal[6]).val() == ''){
            layer.msg($(formVal[6]).attr("errorMsg"), {
                icon: 2,
                time: 2000
            });
            return false;
        }

        return true;
    }

    //相册图片张数限制
    $(document).on('click','.upload_image',function(){
        if ($('#preview img').length >= 3) {
            $(this).parent().parent().hide();
        }
    });
    if ($('#preview img').length >= 3) {
        $("#rapidAddImg").hide();
    }

</script>
