<style>
    .detail-title {
        width: 100px
    }

    .file {
        position: relative;
        height: 100px;
        filter: alpha(opacity:0);
        opacity: 0;
        width: 100px
    }

    #localImag {
        position: absolute
    }

</style>

<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <form  method="post" enctype="multipart/form-data" id="formData">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th class="detail-title">头像</th>
                        <td>
                            <div class="site-demo-upload">
                                <img id="LAY_demo_upload" src="">
                                <div class="site-demo-upbar">
                                    <div id="localImag">
                                        <img id="preview" src="/public/{if $info.mg_small_img}{$info.mg_small_img}{else}Admin/img/upimg.png{/if}" width="100"
                                             height="100" style="display: block">
                                    </div>
                                    <input type="file" name="mg_img" id="upload_img"
                                           onchange="javascript:setImagePreview();" class="file">
                                </div>
                            </div>
                    </tr>
                    <tr>
                        <th class="detail-title">管理员帐号</th>
                        <td>
                            <div>
                                <input type="hidden" name="mg_id" class="form-control" value="{$info.mg_id}">
                                <input type="text" name="mg_name" class="form-control" value="{$info.mg_name}"
                                       placeholder="请填写管理员帐号">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="detail-title">真实姓名</th>
                        <td>
                            <div>
                                <input type="text" name="mg_real_name" class="form-control"
                                       value="{$info.mg_real_name}"
                                       id="inputSuccess" placeholder="请填写姓名">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="detail-title">密码</th>
                        <td>
                            <div>
                                <input type="text" name="mg_pwd" class="form-control" value=""
                                       id="inputSuccess" placeholder="请填写密码">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="detail-title">手机号</th>
                        <td>
                            <div>
                                <input type="text" name="mg_tel" class="form-control" value="{$info.mg_tel}"
                                       maxlength="11" id="inputSuccess"
                                       placeholder="请填写手机号">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>角色</th>
                        <td>
                            <div>
                                <select class="form-control" name="mg_role_id">
                                    <option value="">—— 请选择 ——</option>
                                    {foreach $rinfo as $k=>$v}
                                    <option value="{$k}" {if $k== $info.mg_role_id}selected="selected" {/if}>{$v}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="detail-title">内容</th>
                        <td>
                            <div>
                                <textarea id="TextArea1" name="mg_content" cols="20" rows="2" class="ckeditor">{$info.mg_content}</textarea>
                            </div>
                        </td>
                    </tr>



                    <!--
                    <tr>
                        <th>性别</th>
                        <td>
                            <div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optionsRadios" id=""
                                               value="0" checked="">
                                        男
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optionsRadios" id=""
                                               value="1">
                                        女
                                    </label>
                                </div>

                            </div>
                        </td>
                    </tr>
                    -->
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <button type="reset" class="btn bg-orange btn-lg subform" status="0">重置
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" id="submit" class="btn btn-success btn-lg subform">提交</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script>
    $(function(){
        var editor = CKEDITOR.replace( 'TextArea1', {
            filebrowserImageUploadUrl  :  '../manager/ck_upload'
        });
       // var editor = CKEDITOR.replace('TextArea1');//实例化富文本编辑框
        var content = $.parseHTML($('#TextArea1').html());//把html转换成实体
        editor.setData(content);//给富文本区域赋值

        $('#submit').unbind('click').click(function () {

            //todo 数据验证

            //判断是否有选择上传文件
            var formData = new FormData($( "#formData" )[0]);
            var editorcontent = editor.document.getBody().getHtml();//获取富文本编辑框的值
            formData.append('mg_content',editorcontent);
            $.ajax({
                url: '../Manager/add',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returnJSON) {
                   if(returnJSON.status){
                       layer.msg(returnJSON.msg, {
                           icon: 1,
                           time: 2000
                       }, function () {
                           localStorage.setItem('address', '../Manager/showlist');//保存当前地址,避免刷新跳转
                           $('#content').load('../Manager/showlist');
                       });
                   }else{
                       layer.msg(returnJSON.msg, {
                           icon: 2,
                           time: 2000
                       });
                   }
                }
            });
        });
    });

    //下面用于图片上传预览功能
    function setImagePreview(avalue) {
        var docObj = document.getElementById("upload_img");
        var imgObjPreview = document.getElementById("preview");
        if (docObj.files && docObj.files[0]) {
//火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = '100px';
            imgObjPreview.style.height = '100px';
//imgObjPreview.src = docObj.files[0].getAsDataURL();

//火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        } else {
//IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("localImag");
//必须设置初始大小
            localImagId.style.width = "100px";
            localImagId.style.height = "100px";
//图片异常的捕捉，防止用户修改后缀来伪造图片
            try {
                localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            } catch (e) {
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
        return true;
    }

</script>
