<div class="footer">
    <div class="footer-inner clearfix">
        <div class="footer-left"><img src="{$smarty.const.IMG_URL}log.png" alt="" class="footer_log"></div>
        <div class="footer-mid">
            <div class="footer-menu">
                <a href="/">首页</a>
                {foreach $navList as $k=>$v}
                <a href="{$v.link}">{$v.category_name}</a>
                {/foreach}
            </div>
            <p>Copyright 2016 All Rights Reserved. &nbsp; 中国名优企业品牌发展提升计划 &nbsp; &nbsp;版权所有<br></p>
        </div>

    </div>
</div>