<span id="head"></span>
<link rel="stylesheet" href="{$smarty.const.CSS_URL}style.css">
<script src="{$smarty.const.JS_URL}jquery-1.8.2.min.js"></script>
<script src="{$smarty.const.STATIC_URL}layer/layer.js"></script>

{if isset($other.bannerImg[0].img_url)}
<div style="margin: 0 auto; margin: 0 0 35px"><img width="100%" src="/{$other.bannerImg[0].img_url}"></div>
{/if}
<div class="main dh-cx">
    <div class="left" style="width: 500px;overflow: hidden; margin-right: 30px; float: left">{$content[0].content}</div>
    <ul>
        <li>
            <h3>工作人员查询</h3>
            <div>
                <input type="text" name="name" placeholder="员工姓名" class="in" typeID="0">
                <input type="button" class="btn">
            </div>
        </li>
        <li>
            <h3>参录企业查询</h3>
            <div>
                <input type="text" name="buniess" placeholder="企业名称" class="in" typeID="1">
                <input type="button" class="btn">
            </div>
        </li>
    </ul>
</div>


<span id="bottom"></span>

{literal}
<script>
    $(function () {
        $('#head').load('/index.php/Home/Common/head');
        $('#bottom').load('/index.php/Home/Common/bottom');

        //查询数据
        $('input[type="button"]').click(function () {
            var val = $.trim($(this).prev().val());
            //var name = $(this).prev().attr('name');
            var type = $(this).prev().attr('typeID');
            var data = {"type": type, "keyword": val};

            if (val.length == 0) {
                layer.msg('请填写查询内容', {
                    icon: 2,
                    time: 2000,
                    offset: ['40%', '50%' - 210]
                });
                return false;
            }

            $.ajax({
                url: '/index.php/Home/Query/QueryCenter',
                type: "post",
                // dataType: "json",
                data: data,
                // async: false,
                success: function (returnJSON) {
                    console.log(returnJSON);
                    var content;
                    if (returnJSON.status) {
                        returnJSON.type == 0 ? content = layer_user : content = layer_buniess;
                        layer.open({
                            title: '查询结果',
                            shadeClose: true,
                            type: 1,
                            skin: 'layui-layer-rim', //加上边框
                            area: ['550px', '400px'], //宽高
                            offset: ['25%', '50%' - 320],
                            content: content,
                            success: function (layero, index) {
                                $.each(returnJSON.queryResult, function (index, item) {
                                    if (item) {
                                        $('#' + index).html(item);
                                    }
                                    if (index == 'img_url' && item) {
                                        $('#img_url').attr('src', '/' + returnJSON.queryResult.img_url);
                                    }
                                });
                            }
                        });
                    } else {
                        layer.msg(returnJSON.msg, {
                            icon: 2,
                            time: 2000,
                            offset: ['40%', '50%' - 210]
                        });
                    }
                }
            });
        });

        //工作人员详情
        var layer_user = '<div class="dh-cx" style="margin: 60px">' +
            '    <ul style="width: 220px !important; float: left; margin: 0">' +
            '        <li><i>工　　号：</i><em id="number">暂无…</em></li>' +
            '        <li><i>员工姓名：</i><em style="color: red;" id="name">暂无…</em></li>' +
            '        <li><i>所属区域：</i><em id="area">暂无…</em></li>' +
            '        <li><i>职　　务：</i><em id="job">暂无…</em></li>' +
            '    </ul>' +
            '        <img id="img_url" width="200" height="220" src="/public/Home/img/default.jpg" style="margin-top: 7px">' +
            '</div>';

        //参录公司信息
        var layer_buniess = '<div class="dh-cx" style="margin: 30px">' +
            '    <ul style="width: 100% !important;  margin: 0">' +
            '        <li style="text-align: center; font-size: 16px; font-weight: bold; margin-bottom:15px " id="name">暂无…</li>' +
            '        <li><hr size="1" style="border-top:  1px solid #9F9F9F; width: 100%; margin-bottom: 15px"><i style="font-size: 14px" id="discript">暂无…</i></li>' +
            '    </ul>' +
            '</div>';

    });
</script>
{/literal}